language: ruby
script: "bundle exec rspec"
rvm:
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.1
  - ruby-head
  - jruby-head
  - jruby-19mode
matrix:
  allow_failures:
    - rvm: jruby-19mode
    - rvm: ruby-head
    - rvm: jruby-head
